@mixin vertical-gradient($start-color, $end-color) {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$start-color}', endColorstr='#{$end-color}'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from($start-color), to($end-color)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  $start-color, $end-color); /* for firefox 3.6+ */
}

@mixin rounded($radius){
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin shadow($x-offset, $y-offset, $radius,  $color: #888) {
  -webkit-box-shadow: $x-offset $y-offset $radius $color;
  -moz-box-shadow: $x-offset $y-offset $radius $color;
  box-shadow: $x-offset $y-offset $radius $color;
}

@mixin transform($matrix) {
  transform:$matrix;
  -ms-transform:$matrix; /* IE 9 */
  -moz-transform:$matrix; /* Firefox */
  -webkit-transform:$matrix; /* Safari and Chrome */
  -o-transform:$matrix; /* Opera */
}
