/* Site specific styles. */
@import "cross_browser";

$titles-color: #58383B;
$yellow: #ECC760;
$dark-blue: #0A2D3A;
$light-blue: #62A9F3;


html {
  background: #C19A9B;
  height: 100%;
  background-image:url('/img/jawaninja-pixel.png');
  background-repeat: repeat-y;
  background-position: 10% 0px;
}

body {
  font-family: Verdana;
  color: #d1d9e1;
  min-width: 800px;
  height: 100%;
  @include vertical-gradient(#E6B5AE, #C19A9B);
}

#page {
  background-image:url('/img/jawaninja-pixel.png');
  background-repeat: repeat-y;
  background-position: 10% 0px;
  width: 100%;
  height: 100%;
}

#sun1 {
  margin-top: 10px;
  width: 80px;
  height: 80px;
  float: right;
  @include rounded(40px);
  @include shadow(0px, 0px, 20px, #C69696);
  border: 3px solid #FFFFC4;
  background: #FFFEEA;
}

#sun2 {
  width: 80px;
  height: 80px;
  float: right;
  @include rounded(40px);
  @include shadow(0px, 0px, 20px, #C69696);
  border: 3px solid #C69696;
  background: #FFFEEA;
  @include vertical-gradient(#FFE28C, #FFAF89);
}

h1 {
  font-size:32px;
  padding:55px 0 0 0;
  color: $light-blue;
}

h2 {
  font-size:24px;
  color: $light-blue;
}

h3 {
  font-size:18px;
  color: $yellow;
}

ul { list-style:none; }

a {
  color: $titles-color;
  text-decoration:none;
}

code {
  font: 12px 'Bitstream Vera Sans Mono','Courier',monospace;
  font-size: 90%;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 6px;
  padding-right: 6px;
  background-color: #444;
  border: 2px dashed #4a4b4b;
}

pre {
  padding: 5px;
  code {
    display: block;
    width: 100%;
    padding: 10px 30px 10px 30px;
  }
}

div.content {
  background: transparent;
}

input {
  background:#3a3b3b;
  border:2px solid #4a4b4b;
  @include rounded(8px);
  padding:10px;
  width: 590px;
  color:#babbbb;
  font-size:14px;
}

textarea {
  background:#3a3b3b;
  border:2px solid #4a4b4b;
  @include rounded(8px);
  padding:10px;
  width: 590px;
  color:#babbbb;
  height:350px;
  font-size:14px;
}

input + input { margin-top:10px; }
input + textarea { margin-top:10px; }

#jawaninja {
  float: left;
}

#githubbanner {
  float: right;
  width: 150px;
  height: 150px;
}

#wrapper {
  width:90%;
  margin: 0 auto;
  min-width: 800px;
  padding-top:50px;
}

#wrapper > div.content {
  float:left;
  display:inline;
  padding-bottom:100px;
}

#header {
  float:left;
  display:inline;
  width:80%;
  padding-left: 20%;
  margin-bottom:30px;

  img {
    float: left;
  }

  h1 {
    margin-top: -50px;
    float:left;
    display:inline;
    color:$titles-color;
    padding-top: 0px;
    font-size: 300%;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
    a { color:$titles-color; }
  }

  ul {
    float:right;
    display:inline;
    margin-top:15px;
    margin-right:80px;

    li {
      float:left;
      display:inline;
      margin-left:15px;
    @include transform(rotate(315deg));
    }
  }
}

div.right-panel {
  margin-left: 0px;
  width: 150px;
  float: right;
  background: #3a3b3b;
  border:2px solid #4a4b4b;
  font-size:80%;
  margin-bottom:20px;
  margin-left:20px;
  @include rounded(10px);
  @include shadow(3px, 5px, 5px, #111);
  img {
    @include rounded(10px);
  }
  p {
    padding: 5px;
  }
}

ul.actions {
  float:right;
  display:inline;
  width:140px;

  li a {
    display:block;
    background:#3a3b3b;
    @include rounded(5px);
    text-align:center;
    padding:5px;
    margin-bottom:10px;
    &:hover { background:#4a4b4b; }
  }
}

ul.items {
  float:left;
  display:inline;
  width:600px;

  li a {
    float:left;
    width:590px;
    display:inline;
    padding:8px 15px;
    background: #3a3b3b;
    color: #b1b9c1;
    @include rounded(5px);
    margin-bottom:10px;
  }
}

ul.posts {
  float:left;
  display:inline;

  li.post {
    float:left;
    display:inline;
    width: 760px;
    padding:15px;
    background: #3a3b3b;
    @include rounded(10px);
    @include shadow(3px, 5px, 5px, #111);
    margin-bottom:20px;
    border:2px solid #4a4b4b;
    h2 {
      float:left;
      display:inline;
      width:660px;
      margin-bottom:10px;
    }
    .datetime {
      float:right;
      display:inline;
      font-size:11px;
      color:#8a8b8b;
    }
    .content {
      float:left;
      display:inline;
      width:660px;
      color:#babbbb;
      p { margin-bottom:18px; }
    }
  }
}

.submit { display:none; }

