#githubbanner {
  position: absolute;
  right: 0px;
  top: 0px;
}

.fb-like {
  float: right;
}

#about-img {
  width: 100%;
  max-width: 150px;
}

.fb-comments {
  width: 100%;
  padding: 0px;
}
.fb-comments span iframe {
  margin-top: 20px;
  width: 100% !important;
}

input.large {
  width: 95%;
}

textarea.large {
  width: 95%;
  height: 400px;
}
